* {
    box-sizing: border-box;
}



@keyframes bounce {
    0% { transform: translateX(-2000px); }
    70% { transform: translateX(30px); }
    90% { transform: translatex(-10px); }
    100% { transform: translateX(0); }
}

@keyframes bounce-exit {
	0% { transform: translateX(0); }
	70% { transform: translateX(-30px); }
	90% { transform: translatex(300px); }
	100% { transform: translateX(2000px); }
}

iframe {
	border-radius: 10px;
}

button {
	cursor: pointer;
}

hr {
	background: #e5e5e5;
	color: #e5e5e5;
}


.active {
		color: #766357;
    border-bottom: 3px solid #766357;
}



.hidden {
    display: none;
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 33px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.text-regular {
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #696969;
}

.text-regular2 {
    font-size: 14px;
    line-height: 21px;
    color: #ddebf3;
}

.text-regular-h {
    color:white;
}




a {
    color:black;
    text-decoration: none;
}


.main-navigations a:hover {
    color: #90b6cb;
}

.main-navigations a:active {
    color: #b2b2b2;
}

.header-text {
    position: absolute;
    margin-top: 570px;
    margin-left:300px;
    text-align: center;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.navigation-logo {
    position: absolute;
    margin-left: -75px;
    margin-top: -18px;
		z-index: 2;
}

.container {
    width: 1200px;
    margin: 0 auto;

}
.main-header {
    min-height: 1px;
    margin-bottom: 10px;
}

.about-1 {
    min-height: 780px;
    background: url(../images/Shape1.jpg);
    background-repeat: no-repeat;
		margin-top: -5px;
}



.main-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    background-repeat: no-repeat;
    background: url(../images/backgroundHats.jpg);
}

.main-navigations {
    flex-basis: 300px;
    padding: 10px 0;
    text-align: center;
}


.about-first {
    min-height: 250px;
}


.about-banner-400 {
    float: left;
    width: 400px;
    min-height: 255px;
    text-align: center;
    background: url(../images/banner-400-1.jpg);
}

.about-banner-right {
    float: left;
    width: 800px;
    height: 255px;
}

.about-third {
    min-height: 20px;
}


.about-features {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    min-width: 1200px;
}
.about-item {
    flex-basis: 440px;
    padding-top: 50px;
    text-align: center;
}

.item-fon {
    background: url(../images/backgraund-item-fon.jpg);
}

.about-five {
    display: flex;
    flex-wrap: wrap;
}

.about-end {
    flex-basis: 700px;
    padding-top: 20px;
    min-height: 120px;
    margin: 0 auto;
    text-align: center;
}


.five-back {
    width: 590px;
    min-height: 90px;
		margin: 0 auto;
    text-align: center;
    line-height: 90px;
    color:white;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background: #766357;

    cursor: pointer;
    font-family: 'PT Sans',Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.five-back:active {
    transition: 0.1s;
    border: 1px solid #ccc;
    box-shadow: 10px -5px 5px 5px rgba(0, 0, 0, .2);

}

.about-form {
    position: absolute;
    width: 590px;
    left: 305px;
    top:0;
    min-height: 370px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    animation: bounce 1s;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		background: white;
}

#animatedForm  button{
	outline: none;
}

.exitWindows {
    position: absolute;
		width: 590px;
		left: 305px;
		top:0;
    min-height: 370px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    z-index: 1;
    animation: bounce-exit 1s;
}


.wrap {
    width: 460px;
    min-height: 50px;
    line-height: 50px;
    margin: 30px 75px;
    padding: 10px 0;
    text-align: center;
		border-radius: 15px;
    background-color: #81b3d2;
}

.wrap a {
    display: block;
    height: 100%;
    font-size: 22px;
    text-align: center;
    color:white;
}

.wrap:hover {
    background: #669ec0;
}

.wrap a:active {
    color: #88b6d1;
}

.wrap:active {
    color: #88b6d1;
    background: #5496bd;
}



.interactive-form {
	width: 590px;
	min-height: 200px;
}

.interactive-form input {
	border: 0;
	border-radius: 5px;
	background: #f2f2f2;
}

.form-1 {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 20px;
}

.form-input {
	display:flex;
	flex-direction:row ;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-1 input {
	width:375px;
	padding-right: 35px;
	padding-left: 10px;
	vertical-align: middle;
}

.form-2 {
	display:flex;
	flex-direction:row ;
	margin-top:20px ;
}

.form-2 input {
	width: 120px;
	text-align: center;
	padding-left: 32px;
	padding-right: 30px;
}

.name {
	flex-basis: 125px;
	text-align: start;
	margin-left: 20px;
}


.form-input-short {
	display: flex;
	position: relative;
	flex-basis: 350px;
}

.form-input-short:last-child {
	display: flex;
	position: relative;
	flex-basis: 450px;
}


form input:hover {
    background: #ebebeb ;
}

form input:focus {
    border: 1px solid #e5e5e5;
    background-color: white;
}
.last-name {
	text-align: center;
	width: 30px;
}





.butt-decor-1 {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 22px;
    left:490px;
    top:45px;
    padding: 0;
    font-size: 0;
    border: 0;
    background-color: #f2f2f2;
    background: url(../images/input-search.png);
    background-repeat: no-repeat;
}

.butt-decor-2 {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 22px;
	left:490px;
	top:120px;
	padding: 0;
	font-size: 0;
	border: 0;
	background-color: #f2f2f2;
	background: url(../images/input-search.png);
	background-repeat: no-repeat;
}

.butt-decor-3 {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 22px;
	left:230px;
	top: 5px;
	padding: 0;
	font-size: 0;
	border: 0;
	background-color: #f2f2f2;
	background: url(../images/input-incriment.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.butt-decor-3-1 {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 22px;
	left:145px;
	top: 5px;
	padding: 0;
	font-size: 0;
	border: 0;
	background-color: #f2f2f2;
	background: url(../images/input-decriment.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.butt-decor-4 {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 22px;
	left:235px;
	top: 5px;
	padding: 0;
	font-size: 0;
	border: 0;
	background-color: #f2f2f2;
	background: url(../images/input-incriment.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.butt-decor-4-1 {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 22px;
	left:155px;
	top: 5px;
	padding: 0;
	font-size: 0;
	border: 0;
	background-color: #f2f2f2;
	background: url(../images/input-decriment.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.butt-decor-1:hover , .butt-decor-2:hover {
    background: url(../images/input-search-hover.png);
}

.butt-decor-1:active, .butt-decor-2:active {
    background: url(../images/input-search-click.png);
}








.about-sex {
		position: relative;
    min-height: 500px;
}

.main-footer {
    width: 1200px;
    margin: 0 auto;
    opacity: 0.85;
		background: darkgray;
    background: url(../images/footer-backgraund.jpg);
}

.main-footer .container {
    display: flex;
    justify-content: space-around;
    min-height: 100px;
}

.container section {
    margin: auto;
    padding: 20px;
}

.social-icon {
    display: inline-block;
    width: 48px;
    height: 46px;
    font-size: 0;
    text-align: center;
}

.facebook {
    display: block;
    height: 100%;
    text-align: center;
    background: url(../images/facebook.jpg);
}

.twit {
    display: block;
    height: 100%;
    text-align: center;
    background: url(../images/twit.jpg);
}

.youtube {
    display: block;
    height: 100%;
    text-align: center;
    background: url(../images/youtube.jpg);
}

.facebook:hover {

    background: url(../images/facebook-hover.jpg);
}

.twit:hover {

    background: url(../images/twit-hover.jpg);
}

.youtube:hover {
    background: url(../images/youtube-hover.jpg);
}

.facebook:active {

    background: url(../images/facebook-click.png);
}

.twit:active {

    background: url(../images/twit-click.png);
}

.youtube:active {
    background: url(../images/youtube-click.png);
}

.logo-icon {
    display: inline-block;
    width: 195px;
    height: 39px;
    font-size: 0;
    text-align: center;
}

.copyright-logo {
    display: block;
    height: 100%;
    background: url(../images/copyright.jpg);
}

.copyright-logo:hover {
    background: url(../images/copyright-hover.png);
}

.copyright-logo:active {
    background: url(../images/copyright-click.png);
}



/*HTML PAGE #2*/

.wrap1 {
	padding-left: 70px;
	padding-right: 50px;

}



.home {
	display: inline-block;
	min-height: 160px;
}

.home img {
	margin-top: 35px;
	margin-right: 20px;
}

.about-hotel {
	display: inline-block;
	width: 270px;
	min-height: 90px;
	vertical-align: 30%
}

.title-hotel {
	padding: 0;
	margin: 0;
	font-size: 21px;
}

.title-link:hover {
	color: #81b3d2;
}

.title-link:active {
	color: #b2b2b2;
}

.butt-group1, .butt-group2 {
	display: inline-block;
	width: 115px;
	height: 27px;
	padding: 0 10px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 13px;
}



.butt-group1 {
	background: #81b3d2;
}

.butt-group1:hover {

	background: #669ec0;

}

.butt-group1:active {
	background: #5496bd;
}

.butt-group2 {
	width: 145px;
	background: #766357;
}

.butt-group2:hover {
	background: #604e43;
}

.butt-group2:active {
	background: #503e33;
}

.more {
	display: block;
	height: 100%;
	text-align: center;
	color:white;
}

.prise {
	margin-left: 35px;
}

.rate {
	display: inline-block;
	margin-left: 525px;
	text-align: end;
}

.text-rate {
	padding: 5px 8px;
	background: #f2f2f2;
}

.control-block {
	width: 1200px;
	padding-left: 70px;
	padding-right: 50px;
}

.title-block {
	display: inline-block;
	width: 160px;
	font-size: 23px;
}

.block-type {
	font-size: 14px;
}


.block-text {
	padding: 0 5px;
	margin-left: 30px;
	font-size: 13px;
	color: #c0c0c0;
	border-bottom: 1px dotted #81b3d2;
}

.block-text:hover {
	color: #89b8d5;
}

.block-text:active {
	color: black;
}

.used {
	color: #92bdd8;
	border: 0;
}

.triangle-wrap {
	display: inline-block;
	margin-left: 440px;
}

.triagle-first, .triagle-second {
	cursor: pointer;
}

.triagle-first {
	display: inline-block;
	width: 11px;
	height: 10px;
	background: url(../images/triagle-left-def.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}

.triagle-second {
	display: inline-block;
	width: 11px;
	height: 10px;
	background: url(../images/triagle-right-def.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}

.triagle-active {
	background: url(../images/triagle-right-click.png);
}

.triagle-first:hover {
	background: url(../images/triagle-left-hover.png);
}

.triagle-second:hover {
	background: url(../images/triagle-right-hover.png);
}

.triagle-first:active {
	background: url(../images/triagle-left-click.png);
}

.triagle-second:active {
	background: url(../images/triagle-right-click.png);
}




.search-settings {
	position: relative;
	padding-left: 60px;
	padding-top: 10px;
	margin-top: -5px;
	min-height: 220px;
	font-size: 14px;
	line-height: 21px;
	opacity: 1;
	color: white;
	background: url(../images/fon-block-settings.jpg);
	background-repeat: no-repeat;
}



.search-settings h4 {
	padding-top: 15px;
	padding-bottom: 30px;
	margin: 0;

}

.settings-input {
	padding: 0;
	margin: 0;
	zoom: 1.7;
}

.settings-label {
	margin-left: 10px;
	font-size: 14px;
	line-height: 21px;
	vertical-align: 35%;
}

.colum-input1 {
	display: inline-block;
	width: 270px;
}

.colum-input1 ul li {
	padding-left: 0;
	padding-bottom: 15px;
	list-style-type: none;
}

.colum-input1 ul {
	padding: 0;
	margin: 0;
}

.colum-input1 label, .colum-input1 input {
	cursor: pointer;
}

.colum-input2 {
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 800px;
	width: 330px;
}

.colum-input2 img {
	cursor: pointer;
}



.colum-input2 h4 {
	margin: 0;
	padding: 0;
}

.table-settings {
	width: 320px;
	margin-bottom: 13px;
	margin-top: 12px;
	border: 1px solid white;
	background: url(../images/table_stick.png);
	background-repeat: no-repeat;
	background-position: center;

}

td {
	width: 160px;
	text-align: center;
}

.table-button {
	display: block;
	position: relative;
	width: 135px;
	padding: 12px 35px;
	margin:0 auto;
	margin-top: 10px;
	outline: none;
	color: white;
	background: rgba( 255, 255, 255, 0);
	border: 2px solid white;
	border-radius: 3px;
}
.table-button:hover {
	border: 2px solid white;
	border-radius: 3px;
	background: rgba( 255, 255, 255, .3);
	transition: 0.1s;
}
.table-button:active {
	top:1px;
	text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
	color:black;
	background: rgba(255, 255, 255, 1);
}










